<style>
    pre {
        font-size: 12px;
        padding: 0;
        margin: 0;
        background: #f0f0f0;
        line-height: 20px; /* 行距 */
        width: 600px;
        overflow: auto; /* 超出宽度出现滑动条 */
        overflow-Y:hidden; /* 作用是隐藏IE的右侧滑动条 */
    }
    textarea {
        /*width: 500px;*/
        /*height: 200px;*/
        padding: 10px;
        font-size: 16px;
        /*font-family: Arial, sans-serif;*/
        box-sizing: border-box;
        border: 1px solid #ccc;
        /*min-height:150px;*/
        /*max-height:300px;*/
        overflow: auto;
        outline: none;
        font-family: "Microsoft soft";
    }
    input{
        outline-style: none ;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 13px 14px;
        /*width: 620px;*/
        /*font-size: 14px;*/
        /*font-weight: 700;*/
        font-family: "Microsoft soft";
    }
    input:focus{
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
    }
    @property --d {
        syntax: '<angle>';
        inherits: true;
        initial-value: 0deg;
    }
    button {
        /* 相对定位 */
        position: relative;
        /*width: 400px;*/
        /*height: 100px;*/
        /*line-height: 100px;*/
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        color: #fff;
        /* 渐变背景 */
        background: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #09a8f4);
        /* 背景渐变色大小 */
        background-size: 400%;
        /* 圆角 */
        border-radius: 50px;
        z-index: 1;
    }

    /* 发光效果 */
    button::before {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        bottom: -5px;
        right: -5px;
        /* 渐变背景 */

        /* 背景渐变色大小 */
        background-size: 400%;
        /* 圆角 */
        border-radius: 50px;
        /* 位于按钮之下 */
        z-index: -1;
        /* 设置模糊度 显示发光效果 */
        filter: blur(20px);
    }

    /* 鼠标移入执行动画 */
    button:hover {
        /* 动画：名称 时间 infinite是无限次播放 */
        animation: streamer 8s infinite;
    }

    button:hover::before {
        animation: streamer 8s infinite;
    }

    /* 接下来定义动画 */
    @keyframes streamer {
        100% {
            /* 背景位置 */
            background-position: -400% 0;
        }
    }
</style>